<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>java-adv-servlet-config-context</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--Servlet mapping  -->
  <servlet>
  	<servlet-name>s1</servlet-name>
  	<servlet-class>servlet.Servlet1</servlet-class>
  	<init-param>
  		<param-name>servletName</param-name>
  		<param-value>Servlet 1</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>s1</servlet-name>
  	<url-pattern>/s1</url-pattern>
  </servlet-mapping>
<!-- servlet2 mapping -->
	<servlet>
  		<servlet-name>s2</servlet-name>
  		<servlet-class>servlet.Servlet2</servlet-class>
  		<init-param>
  			<param-name>servletName</param-name>
  			<param-value>Servlet1</param-value>
  		</init-param>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>s2</servlet-name>
  		<url-pattern>/s2</url-pattern>
  	</servlet-mapping>

	<!--servlet context  -->
	<context-param>
		<param-name>projectname</param-name>
		<param-value>Java Advance Servlet Context</param-value>
	</context-param>
</web-app>