<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>ContextListenerEx</listener-class>
    </listener>
    <context-param>
            <param-name>dbdriver</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
            <param-name>dbpath</param-name>
            <param-value>jdbc:mysql://localhost:3306/userdb?useSSL=false</param-value>
    </context-param>
    <context-param>
            <param-name>dbid</param-name>
            <param-value>root</param-value>
    </context-param>
    <context-param>
            <param-name>dbpass</param-name>
            <param-value>Incapp@12</param-value>
    </context-param>
</web-app>
