<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>your-doc-plus</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- Db Util -->
	<context-param>
		<param-name>dbdriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>dbpath</param-name>
		<param-value>jdbc:mysql://localhost:3306/youdocplus_db?useSSL=false</param-value>
	</context-param>
	<context-param>
		<param-name>dbid</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>dbpass</param-name>
		<param-value>Umang@123</param-value>
	</context-param>
	<!-- Listener -->
	<listener>
		<listener-class>dynamicUtil.DbInit</listener-class>
	</listener>

	<!-- Servlet Mappings -->
	
	<!-- Patient Authentication -->
	<servlet>
		<servlet-name>pauth</servlet-name>
		<servlet-class>servlet_patient.PatientLogInAuth</servlet-class>
	</servlet>
	<servlet-mapping>

		<servlet-name>pauth</servlet-name>
		<url-pattern>/patientLogInAuth</url-pattern>
	</servlet-mapping>
	
	<!-- Patient Logout -->
	<servlet>
		<servlet-name>plogout</servlet-name>
		<servlet-class>servlet_patient.Logout1</servlet-class>
	</servlet>
	<servlet-mapping>

		<servlet-name>plogout</servlet-name>
		<url-pattern>/logout_1</url-pattern>
	</servlet-mapping>
</web-app>